.side-nav{
    background-color: rgb(17, 2, 38);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    padding-bottom: 10%;
    
   
}
.pro-menu .side-nav{
    height: 100% !important;
}
body{
   overflow-x: hidden;
}

